#footer {
    position: fixed;
    height: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

table {
    margin-bottom: 40px;
    border-bottom: 10px;
}

#records {
    top: 45%;
    left: 35%;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    position: absolute;
}